.popup-container {
    position: fixed;
    align-items: center;

    padding: 10px 10px;
    border-radius: 5px;
    background-color: rgb(228, 228, 228); 
   
    
    /* box-shadow: '0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)'; */
    z-index: 2; /* Ensure it appears above other content */
  }
  .table-wrapper {
    width: 100%;
    overflow-x: auto;
    /* position: absolute; */
  }
  .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .table-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
  }
  td {
    padding: 8px;
    white-space: nowrap;
  }
  .table-header td {
    font-weight: bold;
  }
  .table-row td:last-child {
    text-align: right;
  }

  .selected-company {
    display: flex;
    justify-content: center;
    padding: 2px;
     background-color: #1e1e1f;
     color: white;
     border-radius: 10px;
     font-size: x-small;
  }
  .remove-department-button{
    margin-left: 6px;
  color: rgb(255, 118, 6);
  border: none;
  border-radius: 4px;
  background: none;
  cursor: pointer;
  margin-left: 4px;
  }
  /* .add-company-css{
    padding-bottom: 4rem;
    padding-top: 44rem;
  } */


  .info-input-field-company select{
    width: 1rem;
  height: 1rem;
  margin-left: -1rem;
    margin-top: 5px;
    position: absolute;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }
  .info-input-field-company{
    margin: 0;
    padding: 0;
  }
  .info-input-field-company input{
    
    width: 300.548px;
    height: 27.397px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 0.74px solid #000;
    padding: 8px;
    position: relative;
   
  }
  
  @media screen and (max-width: 768px) {
   .table{
    display: none;
   }
  }
