
$background-color: #121214;
// $padding: 13px;
$primary-color: #dbdbdb;

.nav-container {
  background-color: $background-color;
  // padding: $padding;
  // padding: 10px 10px;
  height: 4rem;
  display: flex;
  position: fixed;
  z-index: 10;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}
.side-logo{
    display: flex;
    align-items: center;
    padding-right: 2rem;
    padding-top: 7px;
}
.logo-text{
    color: white;
    font-size: 16px;
    padding-bottom: 3px;
}
.nav-links{
    display: flex;
    align-items: center;
    color: #FFF;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;

}
.hoverNav {
    
    cursor: pointer;
    // border: 1px solid #888;
    border-radius: 8px;
    padding: 6px;
    transition: background-color 0.2s, color 0.3s;
  }
  .hoverNav:hover {
    background-color: #4a5568;
    color: white;
  }

/* Add these styles to your existing SCSS files or use inline styles */
.hoverNav-company {
  position: relative;
  cursor: pointer;

  &:hover .dropdown-menu {
    display: block;
  }
}

.dropdown-menu {
  display: none;
  min-width: 135px;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  top: 100%;
  left: 0;
}

.menu-item {
  padding: 8px 16px;
  font-size: 14px;
  color: #333;
  cursor: pointer;

  &:hover {
    // background-color: #f5f5f5;
    color: #4a5568;
  }
}
.logout-text{
  &:hover{
    cursor: pointer;
    color: #f13a49;
    
  }
}