
.search-field input {
    
    
    
    background: url('../images/search.png') no-repeat left center;
    padding-left: 25px; 
    border: 1px solid #000;
    background-position: 5px center;
}
.drop-down {
    width: 1rem;
    height: 1rem;
    margin-left: -1rem;
      margin-top: 5px;
      position: absolute;
      border: none;
      outline: none;
      background-color: transparent;
      cursor: pointer;
}

.search-field input::placeholder{
    font-weight: 550;
    color: black;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
}
/* .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination-button {
    background-color: #0074d9;
    color: white;
    padding: 5px 10px;
    border: 1px solid #0074d9;
    cursor: pointer;
    margin: 5px;
  } */

  /* Add these CSS styles to your 'styles.css' or a separate stylesheet */

.pagination-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Right-align the "Next" button */
.pagination-button:last-child {
  margin-left: auto;
}
.previous-button {
  margin-right: auto;
}

/* Style the "Next" button separately */
.next-button {
  margin-left: 10px; /* Adjust the spacing between buttons */
}

.pagination span {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

/* Style for the page number dropdown */
.pagination-dropdown {
  padding: 4px 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}