
.nav-shadow {
    background-color: #121214;
    box-shadow: 0px 4px 22px #00000026;
    height: 60px;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 10;
    /* width: 1440px; */
  }
 
 .umbrella-full {
   
    object-fit: cover;
    position: absolute;
    
  }
  .info-div{
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
  }
.info-input-field input{
    
    width: 209.548px;
    height: 27.397px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 0.74px solid #000;
    padding: 8px;
    position: relative;
   
  }
  .info-input-field input::placeholder{
    font-weight: 550;
    color: black;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    opacity: 0.8;
  }
  .info-input-field-desc textarea{
    
    /* height: 1rem; */
    flex-shrink: 0;
    border-radius: 10px;
    border: 0.74px solid #000;
    padding: 8px;
    position: relative;
  }
  .error-input-project-desc textarea{
    height: 5rem;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid red;
    padding: 8px;
    position: relative;
    font-weight: 550;
    color: black;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    opacity: 0.8;
    resize: none;
  }
  .error-input-desc textarea {
    height: 5rem;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid red;
    padding: 8px;
    position: relative;
    font-weight: 550;
    color: black;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    opacity: 0.8;
    resize: none;
  }

  .info-input-field-project-desc textarea{
    /* width: 10rem; */
    height: 5rem;
    flex-shrink: 0;
    border-radius: 10px;
    border: 0.74px solid #000;
    padding: 8px;
    position: relative;
  }

  .info-input-field-desc textarea::placeholder{
    font-weight: 550;
    color: black;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    opacity: 0.8;
  
    
  }
  .info-input-field-project-desc textarea::placeholder{
    font-weight: 550;
    color: black;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    opacity: 0.8;
  
    
  }
  .info-input-field-desc textarea[type="text"]{

    
    /* word-wrap: break-word */
    resize: none;
}
.info-input-field-project-desc textarea[type="text"]{

  
  /* word-wrap: break-word */
  resize: none;
}
  
  .btn-info{
    width: 180px;
    height: 40px; 
    border: none;
    border-radius: 55px;
    background: #8FC24D;
    color: white;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    animation: signin-animation 1s infinite;
  }
 
  .btn-info:hover{
      cursor: pointer;
    background: #0719b6;
    transform: scale(1.05);
  }
.info-input-field select{
    /* position: absolute; */
 
  width: 1rem;
  height: 1rem;
  margin-left: 12rem;
    margin-top: 5px;
    position: absolute;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
.error-input select {
  width: 1rem;
  height: 1rem;
  /* margin-left: 12rem; */
    margin-top: 5px;
    position: absolute;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.btn-info1{
    width: 100px;
    height: 30px; 
    border: none;
    border-radius: 20px;
    background: #111310;
    color: white;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    animation: signin-animation 1s infinite;
}
.btn-info1:hover{
  cursor: pointer;
background: #0719b6;
transform: scale(1.05);
}

/* Add this CSS class definition to your stylesheet */
.selected-role {
  display: flex;
  justify-content: center;
  padding: 6px;
   background-color: #1e1e1f;
   color: white;
   border-radius: 20px;
   font-size: smaller;
}

.remove-role-button {
  margin-left: 6px;
  color: rgb(255, 118, 6);
  border: none;
  border-radius: 4px;
  background: none;
  cursor: pointer;
  margin-left: 4px;
}

.success-message1{
  color: green;
  font-size: 0.75rem;
  padding-bottom: 0;
  /* margin-bottom: 10px; */
  margin-top: 0.5rem;
  margin-bottom: -0.5rem;
  text-align: center
}
.field-error-message{
  color: red;
  font-size: 0.75rem;
  padding-bottom: 0;
  margin-top: 0.5rem;
  margin-bottom: -0.5rem;
  text-align: center
}
.error-input input {
  border: 2px solid red;
  border-radius: 10px;
  width: 209.548px;
    height: 27.397px;
    flex-shrink: 0;
   padding : 8px;
    position: relative;
  
}

.autocomplete-options {
  
  display: block;
  position: absolute;
  z-index: 1;
  background-color: #ffffff;
  border: 1px solid #ccc;
  width: 210px;
  max-height: 150px; /* Set a maximum height for the dropdown */
  overflow-y: auto; /* Enable vertical scrolling if options exceed the maximum height */
}

/* Style for each option in the dropdown */
.option {
  display: block;
  padding: 8px;
  cursor: pointer;
}

/* Style for the option when hovered */
.option:hover {
  background-color: #f0f0f0;
}

